

services:
  db:
     image: postgres:15-alpine
     restart: always
     env_file:
       - /etc/go-notes/config.env
     volumes:
       - db_data:/var/lib/postgresql/data
     networks:
       - app-network

  app:
     build: .
     restart: always
     depends_on:
        - db
     env_file:
        - /etc/go-notes/config.env
     networks:
        - app-network

  caddy:
      image: caddy:latest
      restart: always
      depends_on:
         - app
         - adminer
      ports:
         - "80:80"
      volumes:
         - ./Caddyfile:/etc/caddy/Caddyfile
         - ./website:/var/www/go-notes
         - caddy_data:/data
         - caddy_config:/config
      networks:
         - app-network

  adminer:
       image: adminer
       restart: always
       container_name: adminer
       networks:
         - app-network

networks:
  app-network:
       driver: bridge

volumes:
  db_data:
  caddy_data:
  caddy_config:
